/* место для вашего кода */

.header {
  padding: 92px 49px 92px 51px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin-left: -55px;
}
.header__menu {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 43px;
}
.header__menu-list {
  list-style-type: circle;
  display: flex;
  flex-direction: row;
}
.header__menu-list li {
  margin-right: 25px;
}
.header__menu-link {
  list-style-type: none;
}
.link-decoration-none {
  text-decoration: none;
}
.header__menu__item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.right {
  line-height: 24.3px;
  text-underline-offset: 3px;
}
.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cover__title {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 30px;
  position: relative;
  z-index: 6;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 25px;
}
.aligned-text_left {
  align-self: flex-start;
  letter-spacing: 22px;
}
.letter__spasing-extended {
  letter-spacing: 60px;
}
.no__ext {
  letter-spacing: 30px;
}
.aligned-text {
  display: block;
  text-align: left;
  font-size: 100px;
  width: 100%;
  letter-spacing: 30px;
  margin-bottom: 20px;
}
.aligned-text_center {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-right: 24px;
}
.aligned-text_right {
  display: block;
  text-align: right;
  width: 100%;
  margin-top: 25px;
}
.no-letter-spasing {
  letter-spacing: 0;
}
.cover__bottom {
  display: flex;
  justify-content: right;
  padding-bottom: 50px;
  margin-top: 138px;
  z-index: 6;
  position: relative;
}
.cover__bottom__text {
  display: block;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 1.5ex;
  align-self: center;
  padding-right: 25px;
}
.cover__button {
  color: #fff;
  border: 1px solid #fff;
  width: 257px;
  height: 52px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  text-transform: uppercase;
  margin-right: 50px;
  margin-left: 55px;
}
.lots__title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 90px;
}
.lots__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  justify-content: center;
}
.card__style__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 50px;
}
.card__header {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 40px;
  z-index: 5;
}
.card__link {
  display: block;
  height: 100%;
}
.card__style {
  width: 430px;
  height: 450px;
  flex-shrink: 0;
  z-index: 1;
  position: relative;
  background-position: center;
  background-size: cover;
}
.card1 {
  background-image: url(../images/card-lot-01.jpg);
}
.card2 {
  background-image: url(../images/card-lot-02.jpg);
}
.card3 {
  background-image: url(../images/card-lot-03.jpg);
}
.card__text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-right: 40px;
  margin-left: 40px;
  z-index: 1;
}
.lots {
  margin-top: 180px;
}
.lots__link {
  display: block;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 182px;
  margin-left: 90px;
}
.about__logo-pic {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}
.about__logo {
  background-image: url(../images/circle.svg);
  width: 240px;
  height: 240px;
  margin-left: 90px;
}
.about__all {
  margin-top: 183px;
  display: flex;
  justify-content: center;
}
.about__description {
  margin-top: 100px;
  margin-left: 120px;
}
.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.about__h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about__p {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  row-gap: 25px;
  max-width: 885px;
}
.footer__all {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
}
.footer__menu-list {
  list-style-type: none;
  text-align: center;
}
.footer__social-list-item {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 48px;
  list-style-type: none;
}
.footer__social-icon {
  max-height: 48px;
}
